@font-face {
	src: url("../../fonts/arcade_dashed.ttf");
}

@font-face {
	src: url("../../fonts/arcade.ttf");
}

.myGrid {
	-fx-background-image: url("../../img/background/nuit.png");
	-fx-background-size: stretch;
}

.contact {
	-fx-font-size: 70px;
	-fx-text-fill: yellow;
	-fx-font-family: 'Arcade Classic';
}

.numeroDuSupport, .num {
	-fx-font-size: 50px;
	-fx-text-fill: orange;
	-fx-font-family: 'ArcadeClassic';
}