/*@charset "UTF-8";*/

@font-face {
	src: url("../../fonts/arcade.ttf");
}

#VBOX{
	 -fx-background-image: url("../../img/background/soir.png");
	 /*-fx-background-repeat: no-repeat;*/
	 /*-fx-background-size: cover;*/
	 -fx-background-size: stretch;
}



#lb1{
	 -fx-font-family: 'ArcadeClassic';
	 -fx-font-weight: bold;
	 -fx-font-size: 180px;
	 -fx-text-fill: black ; 
}