@font-face {
	src: url("../../fonts/arcade.ttf");
}

.label {
	-fx-font-size: 40px;
	-fx-font-family: 'ArcadeClassic';
	-fx-text-fill: white;
}

.menuBar > .button {
	-fx-background-color: transparent;
}

.selectionBar > .button {
	-fx-background-image: url('../../img/icon/button_bg.png');
	-fx-background-size: stretch;
}

.menuBar, .selectionBar {
	-fx-background-color: linear-gradient(to bottom right, white , lightgrey 80%); 
	-fx-border-color: black;
	-fx-border-style: dashed;
	-fx-border-width: 2;
}

.score {
	-fx-font-size: 90px;
	-fx-background-color: rgba(96, 100, 136, 0.5); 
    -fx-border-color: #ffff00;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}

.selectionBar > .label {
	-fx-font-size: 20 px;
	-fx-text-fill: black;
}

.playerName {
	-fx-background-color: red;
}

.CPUName {
	-fx-background-color: #4472C4;
}

.resultLabel {
	-fx-background-color: #4472C4;
}

.gridRoot {
	-fx-background-size: stretch;
}