@font-face {
    src: url("../../fonts/arcade.ttf");
}

.label , .button {
    -fx-font-family: 'ArcadeClassic';
    -fx-font-weight: bold;
}

.myGrid {
     -fx-background-image: url("../../img/background/montagnes.png");
     -fx-background-size: stretch; 
}

#vboxfils1 {
     -fx-font-size: 100.0px;
}
 
#lb1, #lb2, #lb3 {
    -fx-text-fill: #66ff66;
}
      
.button {
    -fx-text-fill: #ffff00;
    -fx-font-size: 30.0px;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #2e769b;
}