@font-face {
	src: url("../../fonts/arcade.ttf");
}

@font-face {
	src: url("../../fonts/arcade_dashed.ttf");
}

.myGrid {
	-fx-background-image: url("../../img/background/nuit.png");
	-fx-background-size: stretch;
}

.titre {
	-fx-font-size: 55px;
	-fx-text-fill: #ffff00;
	-fx-font-family: 'Arcade Classic';
}

.joueur, .ordi {
	-fx-font-size: 30px;
	-fx-text-fill: #ff8000;
	-fx-font-family: 'ArcadeClassic';
}

.vs {
	-fx-font-size: 30px;
	-fx-text-fill: #c55a11;
	-fx-font-family: 'ArcadeClassic';
}

.vboxJoueurVSORdi {
	-fx-background-color: rgba(96, 100, 136, 0.5);
    -fx-border-color: #ffff00;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}