@font-face {
	src: url("../../fonts/arcade.ttf");
}

@font-face {
	src: url("../../fonts/arcade_dashed.ttf");
}

.myGrid {
	-fx-background-image: url("../../img/background/nuit.png");
	-fx-background-size: stretch;
}

.nouvelle, .partie {
	-fx-font-size: 50px;
	-fx-text-fill: yellow;
	-fx-font-family: 'Arcade Classic';
}

.joueur, .vs, .ordi {
	-fx-font-size: 30px;
	-fx-text-fill: orange;
	-fx-font-family: 'ArcadeClassic';
}