/*@charset "UTF-8";       victoire.css  */

@font-face {
    src: url("../Arcadeclassic.ttf");
}
.lb1{
    -fx-font-family: 'ArcadeClassic';
     -fx-font-size: 150px;
     -fx-text-fill: yellow ;
     
}

.VBOX{
     -fx-background-image: url("../arriereplan/aube.png");
     /*-fx-background-size: contain;*/
     /*-fx-background-repeat: no-repeat;*/
     /*-fx-background-size: cover;*/
     -fx-background-size: stretch;
}

.HBOX{
    -fx-background-color: linear-gradient(to bottom right, white , lightgrey 80%); 
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}